*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  background-color: #a5bbdd;
  background-repeat: no-repeat;
  background-size:cover;
  overflow:hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}


.container{
  padding: 30px 70px;
  color:#fff;
}

.current-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container{
  font-weight: 100;
}
.date-container .time{
  font-size: 70px;
}

.date-container .am-pm{
  font-size: 30px;
  margin-left: 20px;
}

.date-container .date{
  font-size: 30px;
}

.place-container{
  text-align: end;
}

.place-container .time-zone{
  font-size: 30px;
  font-weight: 100;
}

.place-container .country{
  font-size: 12px;
  font-weight: 700;
}

.inputData {
  padding: 20px;
  }
  .inputData input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  }
.temp{
  font-size: 30px;
  margin-left: 20px;
  
}
.temp.span{
  display: inline;
}
  .wave1 {
    opacity: 0.4;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -20rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
    }
    .wave2 {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
    }
    .wave3 {
    animation: drift 7000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.1;
    }
.getwheather{
  margin-left: 10px;
  padding: 8px;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(2, 57, 88, 0.8);
  cursor: pointer;
  color: whitesmoke;
}
.getwheather:hover {
  background: transparent;
  color: black;
}
  

  .current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,27, 0.6);
    padding:20px;
    border-radius: 10px;
    margin: 30px 0;
    border: 1px solid #eee;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
  background: rgba(24,24,27,0.8);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color:white;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  transform: translate3d(0, 0, 0);
}

.future-forecast .today{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding:15px;
  padding-right: 40px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.future-forecast .today .temp{
  font-size: 18px;
  padding-top: 15px;
}

.future-forecast .weather-forecast{
  display: flex;
}

.weather-forecast .weather-forecast-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
  padding: 5px 15px;
  background: #3C3C44;
  border-radius: 50px;
  text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
  font-weight: 100;
  font-size: 12px;
}

@keyframes drift {
  from {
  transform: rotate(0deg);
  }
  from {
  transform: rotate(360deg);
  }
  }

